{% extends "base/main_base.html" %}
<meta charset="utf-8">
{% block content %}
<style>
table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border: 1px silver;
}
th {
	background: gray;
}
table input,table textarea {
	width: 100%;
}
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}
</style>
<script>
$(document).ready(function() {
	$.ajax({
		'url': 'auth-check',
		'success': function(data) {
			if (!data.is_authenticated) {
				
				history.back();
			}
		}
	});
});
function register_board() {
	params = $("#frmRegisterBoard").serialize();
	$.ajax({
		url: 'register-board',
		type: 'POST',
		data: params,
		success: function(data) {
			page_back_reload();
		}
	});

}
</script>	
<main role="main" class="inner cover">
<form id="frmRegisterBoard" method="post">
{% csrf_token %}
<h3 align="center">[공지/공고사항 등록]</h3>
<br>
<table id="tblRegisterBoard" >
<tr>
	<td>구분</td>
</tr>
<tr>
	<td><select name="gubun">
			<option value="공지">공지</option>
			<option value="공고">공고</option>
		</select>
	</td>
</tr>
<tr>
	<td>제목</td>
</tr>
<tr>
	<td><input type="text" name="title"></td>
</tr>
<tr>
	<td>내용</td>
</tr>
<tr>
	<td><textarea rows="10" name="content"></textarea></td>
</tr>
</table>
<br>
<div align="middle">
	<input type="button" class="btn btn-secondary btn-sm" value="등록" onclick="register_board()">
	<input type="button" class="btn btn-secondary btn-sm" value="돌아가기" onclick="javascript:history.back();">
</div>
</form>
</main>
{% endblock %}
